body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.header
{
   align-items: center;
}

h1{
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: row;
    text-align: center;
}

h1 span
{
    color: #FFAB90; 
    font-size: 128px; 
    font-family: Shadows Into Light; 
    font-weight: 400;
     line-height: 125.03px;
      word-wrap: break-word;
}

h1 img{
    width: 250px;
}
h2{
    
    text-align: center;
}

h2 span
{
  color: #FFAB90; 
  font-size: 128px; 
  font-family: Shadows Into Light; 
  font-weight: 400;
   line-height: 125.03px;
    word-wrap: break-word;
}



.nav
{
  
    text-align: center;
     color: black; 
     font-size: 32px; 
     font-family: Kalam; 
     font-weight: 400;
      line-height: 31.26px; 
      word-wrap: break-word;
      
     
}

.hero_img img
{
    width: 1500px; 

}
a{
    margin-right: 70px;
    margin-left: 70px;
  }

 

.social
{
    display: flex;
    flex-direction: row;
}


.social img
{
    width: 30px;

}
.artwork
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}


.artwork img
{
    width: 300px;

}

